body {
  background-color: #000;
  font-size: 1.3em;
  font-family: Courier;
  color: #00E513;
}

#container {
  width: 700px;
  height: 400px;
  border: 1px solid #efefef;
  border: 1px solid #000;
  margin: auto;
}


#layout {
   -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
  /*display: inline-block;*/
  overflow: auto;

  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}